services:
  watchtower:
    image: containrrr/watchtower:1.7.1
    container_name: watchtower
    restart: unless-stopped
    environment:
      - TZ=Europe/Madrid
      - DOCKER_API_VERSION=1.44
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    command:
      - --label-enable          # Solo contenedores con label enable=true
      - --cleanup               # Elimina imágenes antiguas tras actualizar
      - --schedule=0 30 3 * * * # Ejecuta cada día a las 03:30
      - --stop-timeout=30s      # Tiempo de gracia al parar contenedores
